html, body {
    margin: 0;       /* overwrite browser default margins and paddings */
    padding: 0;
    font-family: Helvetica;
    color: seashell;
    text-align: center;
    background-color: black;
    opacity: 0.9;
    font-size: 22px;
}

main, footer {
    position: relative;   /* moving due to fixed header */
    top: 70px;
}

/* header section */
header {
    background-color: black;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    text-align: right;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: right;
}

nav p {
    margin: 10px;
    text-decoration: underline;
}

header img {
    height: 50px;
    margin-left: 10px;
}

/* top section */
#top {
    background-image: url(images/img-mission-background.jpg);
    max-width: 1200px;
    min-height: 700px;
    margin: 0 auto;
    display: flex;
    background-size: cover;
    background-position: center;
}

#topText {
    width: 100%;
    margin: auto 0;
    background-color: black;
}

/* middle section */ 
#middle {
    max-width: 1000px;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#middle img {
    width: 300px;
    height: 200px;
}

.imgAndCaption {
    margin: 10px;
}

.imgAndCaption p {
    margin-top: 10px;
}

/* bottom */
#bottom {
    background-image: url(images/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   /* !!! image position in design spec is different, need to change it */
    min-height: 500px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#containerLocations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}

#bottom h2 {  /* !!! need to fix 15px space between heading and location container */
    margin: 0;
}

.locations {
    min-width: 300px;
    background-color: black;
    margin: 20px;
    opacity: 1;
}

/* footer */
#topfooter {
    min-height: 200px;
}

#bottomfooter {
    text-align: left;
    margin-left: 20px;
    padding-bottom: 10px;
}